:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --background-color-dark: #333333;
    --text-color-dark: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0,3s;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.2em;
    color: #555;
}

.theme-toggle {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #555;
}

body.dark-theme {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

p {
    width: 700px;
}

ul {
    list-style: url(/assets/images/caret-right-fill.svg);
}